@import "../variables.less";

#create-ad-container {
  width: 800px;

  label {
    color: #555;
  }
  .image-area {
    overflow: hidden;
    width: 100%;
  }
  .image-preview {
    width: 100%;
    display: block;
    margin: 10px auto;
    text-align: center;
    img {
      max-width: 800px;
    }
  }
  .meta-area {
    width: 100%;
  }
  #create-ad-desc, #create-ad-content {
    margin: 10px 0;
  }
}

#long-desc-trigger, #chars-left-box {
  margin-bottom: 10px;
}

#chars-left-box {
  color: #aaa;
}

@media screen and (max-width: @screen-tablet) {
  #create-ad-container {
    width: 100%;
    .meta-area, .image-area {
      width: 100%;
      float: none;
      border: 0;
    }
    .image-area {
      min-height: 0;
    }
    .image-preview.medium img {
      max-width: 100%;
    }
    #long-desc-trigger, #create-ad-content {
      display: none;
    }
  }
}
