@import "../variables.less";
@import "../bootstrap/mixins.less";

#create-advert {
  width: 500px;
  box-shadow: 0 0 3px #999;
  border: 1px solid #ccc;

  label {
    color: #555;
  }

  span.help {
    color: #b00;
    font-size: 14px;
  }

  .twitter-typeahead {
    // width: 100%;
  }

  .bootstrap-tagsinput {
    padding: 0;
    margin: 0 0 0 40px;
    display: block;
    border: 0;

    .tt-hint,
    .tt-query {
      padding: 4px;
    }

    .tag [data-role="remove"]:after {
      content: "\00d7";
    }
  }

  .pull-left {
    padding: 5px 10px;

    .icon-tags {
      font-size: 16px;
    }
  }

  .tt-dropdown-menu {
    margin-top: 0;
    border-top-width: 1px;
  }

  .tt-suggestion.tt-is-under-cursor {
    color: #555;
  }
}

#create-advert-tags {
  border-top: 1px solid @border-color;
  height: 31px;
}

.form-content-container {
  margin: 10px 0;
  border: 1px solid #ccc;
}

#ad_title, #ad_youtubeUrl, #ad_tags {
  border: 0;
  .box-shadow(none);
}

#create-advert-image-trigger {
  display: block;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  border-radius: 0;
  border-bottom: 0;
}

#create-advert-image-modal {
  .close {
    opacity: 1;
  }
}

//short desc textarea
#ad_description {
  resize: none;
  height: 200px;
}

#create-advert-image {
  background-color: #f4f4f4;
  padding: 9px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin: 6px 0;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1) inset;
}

#ytplayer {
  img {
    max-width: 446px;
  }
}

.image-preview.medium img {
  max-width: 100%;
}

#create-advert-toolbar .label-group .icon {
  font-size: 16px;
}

// wysihtml5 override
#wysihtml5-container {
  #wysihtml5-editor-toolbar {
    header {
      padding: 0;
    }

    .commands {
      font-size: 0;

      > .wysihtml5-command-active {
        box-shadow: none;
        border-bottom-color: #f00;
      }

      > .command {
        display: inline-block;
        margin-right: 0;
        padding: 10px 4px;
        text-shadow: 1px 0 1px #fff;
        border-bottom: 2px solid transparent;
        margin-bottom: -1px;

        @media (min-width: @screen-phone) {
          padding: 10px;
        }

        > .icon {
          font-size: 16px;
        }
      }
    }

    [data-wysihtml5-dialog] {
      border-radius: 0;
      border-width: 0 0 1px;

      @media screen and (max-width: 400px) {
        [data-wysihtml5-dialog-field] {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  #create-advert-toolbar {
    .icon {
      margin: 0;
    }
    .text {
      display: block;
      text-align: center;
    }
  }
}
