@import "../variables.less";
@import "../bootstrap/mixins.less";

#create-advert {
  width: 480px;
  label {
    color: #555;
  }

  span.help {
    color: #b00;
    font-size: 14px;
  }
  .bootstrap-tagsinput {
    width: 416px;
    margin: 0;
  }

  .progress-bar {
    background-color: #b00;
  }

  .big-center-text {
    text-align: center;
    font-size: 30px;
  }
}

.form-content-container {
  margin: 10px 0;
  border: 1px solid #e3e3e3;
}

#create-advert-tags {
  padding: 5px 5px 5px 10px;
  border-top: 1px solid #e3e3e3;
  i:before {
    margin: 0;
  }
}

#create-advert-url {
  width: 100%;
}

#ad_title, #ad_youtubeId {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  box-shadow: none;
  border-top: 1px solid #e3e3e3;
}

#create-advert-image-trigger {
  display: block;
  padding: 10px;
  text-align: center;
  background-color: #f2f2f2;
  color: #555;
  text-decoration: none;
  &:hover {
    background-color: #ddd;
  }
}

//short desc textarea
#ad_description {
  resize: none;
  height: 200px;
}

#create-advert-image {
  background-color: #f4f4f4;
  padding: 9px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin: 6px 0;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1) inset;
}

@media screen and (max-width: @screen-tablet) {
  #create-advert {
    width: 100%;

    .image-preview.medium img {
      max-width: 100%;
    }
  }

  #create-advert-image {
    width: 100%;
    float: none;
    border: 0;
    min-height: 0;
  }
}
