@import "../variables.less";
@import "../bootstrap/mixins.less";

body {
  padding-top: 50px;
  margin-bottom: 0;
  background-color: #fff;
}

#landing .wrapper {
  width: 999px;
  margin: 0 auto;
}

#landing-title {
  background-color: @gray-darker;
  background-size: cover;
  padding-bottom: 20px;

  h1 {
    color: #fff;
    margin: 0;
    font-weight: bold;
    font-size: 64px;
    text-shadow: 0 5px 10px #000;
    text-align: center;
  }

  .panel {
    .form-group {
      margin-bottom: 5px;
    }
  }
}

#landing-features {
  background-color: #fff;
  margin: 20px auto;

  .section {
    width: 333px;
    float: left;
    padding: 20px;

    .lead {
      font-size: 18px;
      color: #777;
      text-align: center;
    }
  }

  .section-title {
    font-size: 40px;
    color: @gray-dark;
    text-align: center;
    font-weight: 300;

    b {
      color: @brand-primary;
    }
  }

  .section-figure {
    background-color: @brand-primary;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
    border: 5px solid #e5e5e5;
    .opacity(.7);
    .transition(all .2s ease-in-out);

    i[class^="icon"] {
      font-size: 32px;
      line-height: 95px;
      color: #fff;
      .transition(all .2s ease-in-out);
    }

    &:hover{
      .opacity(1);

      i[class^="icon"] {
        font-size: 50px;
      }
    }
  }
}

#landing-screenshot {
  float: left;
  margin-top: 40px;
}

#register-form {
  width: 300px;
  float: right;
  margin-top: 60px;
}

@media screen and (max-width: @screen-tablet) {
  #landing .wrapper,
  #landing-features .section,
  #register-form {
    width: 100% !important;
  }

  #landing-screenshot,
  #register-form,
  #landing-features .section {
    float: none;
  }

  #register-form {
    margin: 20px 0;
  }

  #landing-title h1 {
    margin: 50px 0;
  }

  #landing-screenshot {
    margin-top: 0;

    img {
      .img-responsive(block);
    }
  }

  #landing-title {
    background: @gray-darker;
  }
}

@media screen and (min-width: @screen-md-max) {
  #landing-title {
    background: @gray-darker url('../../img/screenshot.jpg') no-repeat center;
  }
}
