@import "../variables.less";
@import "../bootstrap/mixins.less";

body {
  padding-top: 50px;
  margin-bottom: 0;
  background-color: #333;
}

#landing .wrapper {
  width: 999px;
  margin: 0 auto;
}

#landing-title {
  background-color: @gray-darker;
  background-size: cover;
  margin-bottom: 0;

  h1 {
    color: #fff;
    margin: 40px 0 10px;
    font-weight: bold;
    font-size: 48px;
    text-shadow: 0 5px 10px #000;
    text-align: center;
  }

  h2 {
    font-size: 24px;
    color: #fff;
    text-shadow: 0 5px 10px #000;
    text-align: center;
    margin: 0 0 40px;
  }

  .panel {
    .form-group {
      margin-bottom: 5px;
    }
  }
}

#landing-heading {
  text-align: center;
}

#landing-screenshot {
  float: left;
  margin-top: 40px;
}

#landing-social {
  border-top: 1px solid rgba(255,255,255,0.15);
  padding: 20px 0;
  text-align: center;
  .box-shadow(0 -2px 0 -1px rgba(0,0,0,0.15));

  .btn {
    margin: 0 10px;
  }

  .btn-facebook,
  .btn-twitter {
    position: relative;
    padding-left: 55px;
  }

  .icon-facebook,
  .icon-twitter {
    position: absolute;
    font-size: 1.4em;
    top: 0;
    left: 0;
    border-right: 1px solid fade(#000, 15%);
    box-shadow: 1px 0 1px fade(#fff, 15%);
    width: 44px;
    height: 43px;
    line-height: 43px;
  }
}

#register-form {
  width: 300px;
  float: right;
  margin-top: 60px;
}

@media screen and (max-width: @screen-tablet) {
  #landing .wrapper,
  #register-form {
    width: 100% !important;
  }

  #landing-screenshot,
  #register-form {
    float: none;
  }

  #register-form {
    margin: 20px 0;
  }

  #landing-screenshot {
    img {
      .img-responsive(block);
    }
  }

  #landing-title {
    background: @gray-darker;
  }

  #landing-social {
    .btn:not(:first-child) {
      margin-top: 10px;
    }
  }
}

@media screen and (min-width: @screen-md-max) {
  #landing-title {
    background: @gray-darker url('../../img/screenshot.jpg') no-repeat center;
    background-size: cover;
  }
}
