@import "../variables.less";
@import "../mixins.less";

.landing-title {
  margin: 60px 0;
  text-shadow: 1px 1px 0 #fff;
  text-align: center;

  h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 0 0 10px;
  }

  h2 {
    font-size: 24px;
    font-weight: 300;
    margin: 0 0 30px;
  }
}

.landing-screenshot {
  width: 100%;

  img {
    .img-responsive(block);
  }

  @media (min-width: @screen-tablet) {
    float: left;
    width: 65%;
  }
}

#register-form {
  max-width: 480px;
  margin: 30px auto;
  border: 1px solid @border-color;

  .panel-heading {
    padding: 10px 15px;
  }

  .btn-block + .btn-block {
    margin-top: 10px;
  }

  p {
    font-size: 12px;
  }

  @media (min-width: @screen-tablet) {
    width: 35%;
    float: left;
    margin: 0;
  }
}

.landing-social {
  border-top: 1px solid #fff;
  padding: 20px 0;
  text-align: center;
  margin: 20px 0;
  .box-shadow(0 -1px 0 @border-color);

  .btn-social {
    display: block;
    width: 200px;
    margin: 10px auto 0;
    &:first-child {
      margin-top: 0;
    }

    @media (min-width: @screen-phone) {
      display: inline-block;
      margin: 0 10px;
    }
  }
}
