@import "../variables.less";
@import "../mixins.less";

#notif-btn {
  display: inline-block;
  position: relative;

}

#notif-count {
  position: absolute;
  right: -8px;
  bottom: -4px;
}

.open > #top-notifications {
  display: block;
}

#top-notifications {
  width: 400px;

  & > li {
    font-size: 12px;

    & > div {
      float: left;
      width: 300px;
    }

  }

  & > li:hover {
    background-color: #eee;
    cursor: pointer;
  }

  time {
    color: #aaa;
  }


  .notif-pic {
    float: left;
    margin-right: 10px;
    height: 51px;
  }
}

#notifications {
  display: block;
  margin-top: 20px;
}

#show-all-notifications {
  background-color: #f5f5f5;
  font-size: 14px;
  text-align: center;
  a {
    color: #999;
    font-weight: bold;
    padding: 0;
    border: 0;
  }
  a:hover {
    background-color: #eee;
  }
}

@media screen and (max-width: @screen-tablet) {
  #notif-btn {
    display: none;
  }
}
