@import "../variables.less";
@import "../mixins.less";

#notif-btn {
  display: inline-block;
  position: relative;
}

#notif-btn,
#notif-mobile-btn {
  .notif-count {
    position: absolute;
    right: -8px;
    bottom: -4px;
  }
}

.open > #top-notifications {
  display: block;
}

#top-notifications {
  font-size: 12px;
  width: 400px;

  > li {
    border-top: 1px solid #ddd;
    padding: 5px;
  }

  > li:first-child {
    border-top: 0;
  }

  > li:hover {
    background-color: #eee;
    cursor: pointer;
  }

  .notification {
    float: left;
    width: 300px;
  }

  time {
    color: #bbb;
    font-size: 11px;
    float: left;
  }

  .notif-pic {
    float: left;
    margin-right: 10px;
    height: 51px;
  }

  .no-new-notifications {
    color: #ccc;
    font-size: 14px;
    padding: 10px 15px;
    text-align: center;
  }
}

#notifications {
  display: block;
  margin-top: 20px;
}

#show-all-notifications {
  background-color: #f5f5f5;
  text-align: center;
  a {
    color: #999;
    font-weight: bold;
    padding: 0;
    border: 0;
  }
  a:hover {
    background-color: #eee;
  }
}

#all-notifications {
  > li:hover {
    background-color: #eee;
    cursor: pointer;
  }
  .notification {
    float: left;
  }

  time {
    color: #bbb;
    font-size: 12px;
    float: left;
    margin-right: 10px;
  }

  .notif-pic {
    float: left;
    margin-right: 10px;
    height: 18px;
  }

  .no-new-notifications {
    color: #ccc;
    font-size: 14px;
    padding: 10px 15px;
    text-align: center;
  }
}

#mobile-nav {
  .notif-count {
    background-color: #333;
    float: right;
    margin-right: 20px;
  }
}

@media screen and (max-width: @screen-tablet) {
  #notif-btn {
    display: none;
  }

  #all-notifications {
    border-radius: 0;
    width: 100%;

    > li {
      border-radius: 0;
    }

    .notification {
      display: block;
      margin-top: 10px;
      width: 100%;
    }
  }
}
