@import "../variables.less";

#register {
  .panel-heading {
    padding: 8px 15px 6px;
  }
  .panel-heading h2 {
    font-family: Verdana, Geneva, sans-serif;
    font-weight: normal;
  }

  hr {
    border-top: 1px solid #ddd;
    margin: 0;
  }

  .btn-block + .btn-block {
    margin-top: 15px;
  }
}
