#sidebar {
  .site-aside {
    margin-bottom: 20px;
  }

  h2 {
    border-bottom: 1px solid #d5d5d5;
    font-size: 20px;
    margin-top: 0;
    padding-bottom: 5px;
    a {
      color: #555;
      text-decoration: none;
      &:hover {
        color: #b00;
      }
    }
  }
}
.sidebar-trending-advert {
  margin-bottom: 10px;
  min-height: 50px;
}
#sidebar-trending {
  img {
    max-width: 260px;
  }
  .sidebar-trending-img, .sidebar-trending-youtube, .sidebar-trending-text {
    display: block;
    background-color: #000;
  }
  .sidebar-trending-text {
    padding: 10px;
    text-decoration: none;
    color: #fff;
    &:hover {
      background: #333;
    }
  }
  .sidebar-trending-img {
    width: 260px;
    text-align: center;
  }
}
#side-suggest-friend {
  img {
    width: 48px;
    height: 48px;
  }

  .realname {
    color: #333;
    font-size: 13px;
    margin-bottom: 5px;
  }

  .btn-sm {
    font-size: 11px;
    padding: 2px 10px;
  }
  .media, .media-body {
    overflow: visible;
  }
}
