@import "../variables.less";
@import "../mixins.less";

html,
body {
  height: 100%;
}

.open {
  > .site-menu {
    width: @site-menu-width;
  }

  > .site-content {
    margin-left: @site-menu-width;
  }
}

.focus {
  #search-form {
    display: block;
  }

  .navbar-right {
    display: none;
  }
}

.site-menu {
  @height: "calc(100% - @{navbar-height})";
  position: fixed;
  width: 0;
  height: ~"@{height}";
  border: solid @border-color;
  border-top-color: @brand-primary;
  border-width: 2px 1px 0 1px;
  // margin-top: -2px;
  overflow: hidden;
  z-index: @zindex-navbar-fixed;
  .transition(width ease .5s);
  background-color: #fff;
}

.site-menu-inner {
  position: relative;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    h3 {
      font-size: 11px;
      color: #bbb;
      margin-bottom: 5px;
      font-weight: 300;
      padding: 5px 20px;
      white-space: nowrap;
    }

    a {
      font-size: 12px;
      color: #666;
      display: block;
      text-decoration: none;
      padding: 3px 20px;
      white-space: nowrap;

      &:hover {
        background-color: @gray-lighter;
      }

      .icon {
        margin-right: 5px;
      }
    }

    &:last-child {
      margin-bottom: 20px;
    }
  }
  .current {
    a {
      background: #b00;
      color: #fff;

      &:hover {
        background: #b00;
        color: #fff;
      }
    }
  }
}

.site-content {
  position: relative;
  margin: 30px 0;
  width: 100%;
  min-width: 320px;
  .transition(margin-left ease .5s);
}

.site-container {
  padding-top: @navbar-height;
  overflow: hidden;
}

.site-wrapper {
  min-width: 320px;
  max-width: 1024px;
  margin: 0 auto;
}

.site-sidebar {
  display: none;
  float: left;
}

.navbar-toggle {
  float: left;
  display: inline;
  position: relative;
  top: 2px;
  margin-top: -2px;
  border-bottom: 2px solid transparent;
  padding: 12px 15px;

  .icon-bar {
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 1px;
  }
  .icon-bar + .icon-bar {
    margin-top: 5px;
  }

  &:hover {
    background-color: transparent;
    border-color: @brand-primary;
  }
}

.navbar {
  border: solid @border-color;
  border-width: 0 0 2px;
}

.site-header a span {
  display: none;
}

.site-header {
  .navbar-left,
  .navbar-right {
    position: relative;
    top: 2px;
    margin-top: -2px;

    > li > a > .icon {
      font-size: 16px;
      padding: 0 2px;
    }
  }
}

.nav > li {
  position: relative;
  float: left;
}

.navbar-brand {
  // color: @brand-primary;
  // padding: 15px 20px;
  // text-align: center;
  width: @site-menu-width;
  border: solid @border-color;
  border-width: 0;
  display: none;
  text-indent: -9999px;
  background: url("../img/logo.png") center no-repeat;
}

#m-btn-search {
  display: block;
  border-bottom: 2px solid transparent;

  &:hover {
    border-color: @blue-accent;
  }
}

#search-form {
  width: 320px;
  position: relative;
  top: 2px;
  margin-top: -2px;
  display: none;

  .form-control {
    height: (@navbar-height + 2px);
    position: absolute;
    width: 100%;
    padding: 10px 35px 10px 15px;
    .box-shadow(none);

    &:focus {
      .box-shadow(none);
      border-bottom-color: @blue-accent;
    }
  }

  .twitter-typeahead {
    width: 100%;
  }

  .typeahead,
  .tt-query,
  .tt-hint {
    width: 100%;
    height: (@navbar-height + 2px);
    border: solid @border-color;
    padding: 10px 35px 10px 15px;
    background-color: transparent;
    // border: solid transparent;
    border-width: 0 1px 2px;
    outline: none;
    border-radius: 0;
  }
  .tt-dropdown-header {
    border-top: 1px solid #ccc;
    background-color: #eee;
    font-size: 13px;
    text-align: left;
    font-weight: bold;
    color: #777;
  }
  .tt-suggestion a {
    display: block;
  }
  .avatar {
    margin-right: 10px;
  }
}

#btn-search {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  position: absolute;
  width: 20px;
  line-height: @navbar-height;
  top: 0;
  right: 15px;

  .icon-search:before {
    margin: 0;
  }
}

/** Hide header mobile components **/
#mobile-login-link {
  display: none;
}

#create-advert-btn {
  border-bottom: 2px solid transparent;

  &:hover {
    border-color: @purple-accent;
  }
}

#notif-btn {
  border-bottom: 2px solid transparent;

  &:hover {
    border-color: @green-accent;
  }
}

#login-express {
  width: 255px;

  .form-group {
    margin-bottom: 10px;
  }

  .checkbox {
    margin-top: 6px;
    margin-bottom: 6px;
  }
}

.site-body {
  margin: 0 15px;
}

@media (max-width: 599px) {
  .search-container {
    margin-left: 50px;
  }

  #search-form {
    width: 100%;
  }

  #login-express-dropdown {
    display: none;
  }

  #mobile-login-link {
    display: block;
  }

  #search-box {
    width: 100% !important;
  }
}

@media (min-width: 481px) {}

@media (min-width: 600px) {
  .navbar-toggle {
    display: none;
  }

  .navbar-brand {
    display: block;
  }

  .site-header a span {
    display: inline;
  }

  .site-content {
    margin-left: @site-menu-width;
    width: auto;
  }

  .site-menu {
    width: @site-menu-width;
  }
}

@media (min-width: 720px) {
  #m-btn-search {
    display: none;
  }

  #search-form {
    display: block;
  }
}

@media (min-width: 960px) {
  .site-body {
    float: left;
    min-width: 500px;

    .panel {
      margin: 0;
      border: 0;
    }
  }
  .site-body-full {
    width: 100%;
  }

  .site-body-bg {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 1px #ccc;
  }

  .site-sidebar {
    display: block;
    width: 260px;
    margin-left: 30px;
  }
  .site-aside {
    margin-bottom: 15px;
  }
}
