@import "../variables.less";
@import "../mixins.less";

.focus {
  #search-form {
    display: block;
  }

  .navbar-right {
    display: none;
  }
}

.navbar-toggle {
  float: left;
  padding: 12px 14px;
  background: #f8f8f8;
  border: solid @border-color !important;
  border-width: 0 1px !important;
  border-radius: 0;

  .icon-bar {
    border-bottom: 1px solid rgba(0,0,0,.2);
    display: block;
    width: 25px;
    height: 2px;
    border-radius: 1px;
  }
  .icon-bar + .icon-bar {
    margin-top: 5px;
  }
  &:hover {
    background: #eee !important;
  }
  @media (min-width: 600px) {
    display: none;
  }
}

#site-header {
  border: 0;
  border-bottom: 1px solid @border-color;
  .box-shadow(0 1px 1px #ddd);
  .navbar-left,
  .navbar-right {
    .icon {
      font-size: 16px;
      // padding: 0 2px;
    }
  }
  .nav > li {
    position: relative;
    float: left;
  }

  @media (min-width: 600px) {
    a span {
      display: inline;
    }
  }
}

.navbar-brand {
  width: @site-menu-width;
  display: none;
  padding: 0;
  text-align: center;

  @media (min-width: 600px) {
    display: block;
  }
}

#m-btn-search {
  display: block;

  &:hover {
    background-color: @blue-accent;
    color: #fff;
  }

  @media (min-width: 720px) {
    display: none;
  }
}

#search-form {
  display: none;
  margin-top: 6px;
  margin: 6px 0;
  position: relative;
  top: 0;
  width: 320px;

  .twitter-typeahead {
    width: 100%;
  }
  .typeahead,
  .tt-query,
  .tt-hint {
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 13px;
    width: 100%;
    padding: 4px 14px;
    // border: solid transparent;
    outline: none;
  }
  .avatar {
    margin-right: 10px;
  }

  @media (max-width: 599px) {
    width: 100%;
  }
  @media (min-width: 720px) {
    display: block;
  }
}

#btn-search {
  background: transparent;
  border: 0;
  color: #777;
  cursor: pointer;
  padding: 0;
  position: absolute;
  right: 12px;
  top: 5px;
  width: 20px;
  -webkit-appearance: none;

  .icon-search:before {
    margin: 0;
  }
}

/** Hide header mobile components **/
#mobile-login-link {
  display: none;

  @media (max-width: 599px) {
    display: block;
  }
}

#create-advert-btn {
  &:hover {
    color: #fff;
    background: @brand-primary;
  }
}

#notif-btn {
  &:hover {
    background-color: #777;
    color: #fff;
  }
}

#login-express {
  width: 255px;

  .form-group {
    margin-bottom: 10px;
  }

  .checkbox {
    margin-top: 6px;
    margin-bottom: 6px;
  }
}

.site-wrapper {
  min-width: 320px;
  max-width: 1024px;
  margin: 0 auto;
}

@media (max-width: 599px) {
  .search-container {
    margin-left: 65px;
    padding-right: 10px;
  }

  #login-express-dropdown {
    display: none;
  }

  #search-box {
    width: 100% !important;
  }
}
