#browse-tags {
  padding-left: 0;
  
  li {
    border-top: 1px solid #ddd;
    list-style-type: none;
    padding: 5px 20px;

    small {
      color: #ccc;
      font-size:11px;
    }
  }

  li:first-child {
    border-top: 0;
  }
}
