.user {
  width: 236px;
  height: 218px;
  margin: 14px 7px 0 7px;
  padding: 5px 10px;
  float: left;

  .profile-picture {
    float: left;
    margin-bottom: 5px;

    img {
      border-radius: 3px;
      width: 105px;
      height: 105px;
    }
  }

  .user-adverts {
    float: right;
    width: 105px;
  }

  .user-mini-advert {
    float: left;
    width: 47px;
    height: 50px;
    margin: 0 5px 5px 0;
    background-color: #ccc;
  }

  .user-realname {
    font-size: 14px;
    font-weight: bold;
    height: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .user-score {
    margin-bottom: 5px;
    a {
      color: #999;
      font-size: 11px;
      font-weight: bold;
    }
  }
}

a.realname, a.username {
  text-decoration: none;
}
.realname {
  color: @gray;
  font-weight: bold;
}

.username {
  color: #bbb;
  font-weight: bold;
}

#user-profile {
  .media {
    padding: 10px;
  }

  .media-body {
    color: @gray-light;
    font-size: 12px;
    line-height: 1.5;

    a {
      color: @gray-dark;
    }
  }

  .media-heading {
    margin: 0 0 5px;

    a {
      color: @brand-primary;
    }
  }
}

#user-profile + div {
  margin-top: 15px;
}

#user-profile-menu {
  background-color: #f5f5f5;
  border-top: 1px solid #dfdfdf;
  border-radius: 0 0 4px 4px;
  margin-bottom: 0;
  padding: 5px 5px 6px 5px;
  position: relative;
  .score {
    color: #888;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    width: 70px;

    b {
      color: #333;
      display: block;
      font-size: 18px;
    }
  }
  .score:hover {
    color: #b00;
    text-decoration: none;

    b {
      color: #b00;
    }
  }
  .btn {
    font-size: 12px;
    font-weight: bold;
    margin-top: 6px;
  }
  .btn-follow {
    color: #fff;
    vertical-align: middle;
    width: 80px;
  }
}

@media screen and (max-width: @screen-phone) {
  #user-profile {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    .user-profile-desc {
      float: none;
      width: 100%;
      text-align: center;
    }
    .profile-picture {
      float: none;
      width: 100%;
      text-align: center;
      margin: 10px 0 0;
    }
    #user-profile-info .realname {
      text-align: center;
    }
    #user-profile-menu {
      text-align: center;
      .pull-right, .pull-left {
        float: none !important;
      }
      .btn {
        display: block;
        width: 100%;
      }
    }
  }
  .user {
    width: 100%;
    padding: 0;
    margin: 14px 0 0;
    height: auto;
    .user-realname, .profile-picture, .user-adverts, .user-score {
      text-align: center;
    }
    .profile-picture, .user-adverts {
      float: none;
    }
    .user-adverts {
      width: 210px;
      margin: 0 auto;
    }
    .user-score {
      margin-bottom: 0;
    }
  }
}

.page-title {
  padding:0;
}

.user-action {
  border-top: 1px solid @border-color;

  .btn {
    &:first-child {
      border: 0;
    }
    border: 0;
    border-left: 1px solid @border-color;
  }
}
