.users {
  width: 500px;

  .media {
    margin: 0;
  }
}

.user {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #ccc;

  p {
    margin: 0;
  }

  .media-object {
    border-radius: 3px;
    width: 48px;
    height: 48px;
  }

  .media-heading {
    a:not(.btn) {
      color: #999;
      font-size: 11px;
      font-weight: bold;
      margin-right: 3px;
    }
    a.realname {
      font-size: 14px;
      color: @gray;
    }
    .username {
      font-size: 12px;
    }
  }
}

a.realname, a.username {
  text-decoration: none;
}
.realname {
  color: @gray;
  font-weight: bold;
}

.username {
  color: #bbb;
  font-weight: bold;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 3px;
}

#user-profile {
  border-radius: 5px;
  margin-bottom: 10px;
  width: 500px;

  .media-object {
    border-radius: 5px;
  }

  .media {
    padding: 10px;
  }

  .media-body {
    color: @gray-light;
    font-size: 12px;
    line-height: 1.5;

    a {
      color: @gray-dark;
    }
  }

  .user-action {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    a.score {
      display: block;
      float: left;
      padding: 5px 10px;
      background-color: #fff;
      color: #999;
      font-size: 10px;
      border-right: 1px solid #eee;
      width: 91px;
      line-height: 1.2;
      &:hover {
        text-decoration: none;
        background-color: #eee;
      }
    }
    a.score.first {
      border-bottom-left-radius: 5px;
    }
    a.score.last {
      border-right: 0;
    }
    strong {
      display: block;
      color: #555;
      font-size: 16px;
    }
    .btn {
      float: right;
      margin-right: 8px;
      margin-top: 4px;
    }
  }

  .media-heading {
    margin: 0 0 5px;

    a {
      color: @brand-primary;
    }
  }
}

.site-body-no-bg {
  #user-profile {
    border: 1px solid #ccc;
  }
}

#user-profile-menu {
  background-color: #f5f5f5;
  border-top: 1px solid #dfdfdf;
  border-radius: 0 0 4px 4px;
  margin-bottom: 0;
  padding: 5px 5px 6px 5px;
  position: relative;
  .score {
    color: #888;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    width: 70px;

    b {
      color: #333;
      display: block;
      font-size: 18px;
    }
  }
  .score:hover {
    color: #b00;
    text-decoration: none;

    b {
      color: #b00;
    }
  }
  .btn {
    font-size: 12px;
    font-weight: bold;
    margin-top: 6px;
  }
  .btn-follow {
    color: #fff;
    vertical-align: middle;
    width: 80px;
  }
}

// @media screen and (max-width: @screen-phone) {
//   #user-profile {
//     margin-left: 0;
//     margin-right: 0;
//     width: 100%;
//     .user-profile-desc {
//       float: none;
//       width: 100%;
//       text-align: center;
//     }
//     .profile-picture {
//       float: none;
//       width: 100%;
//       text-align: center;
//       margin: 10px 0 0;
//     }
//     #user-profile-info .realname {
//       text-align: center;
//     }
//     #user-profile-menu {
//       text-align: center;
//       .pull-right, .pull-left {
//         float: none !important;
//       }
//       .btn {
//         display: block;
//         width: 100%;
//       }
//     }
//   }
//   .user {
//     width: 100%;
//     padding: 0;
//     margin: 14px 0 0;
//     height: auto;
//     .user-realname, .profile-picture, .user-adverts, .user-score {
//       text-align: center;
//     }
//     .profile-picture, .user-adverts {
//       float: none;
//     }
//     .user-adverts {
//       width: 210px;
//       margin: 0 auto;
//     }
//     .user-score {
//       margin-bottom: 0;
//     }
//   }
// }

.page-title {
  padding:0;
}
