#who-to-follow {
  width: 500px;
  .toolbar {
    margin-bottom: 5px;
  }
  .adstacy, .twitter, .facebook {
    display: block;
    float: left;
    margin: 0;
    padding: 5px 10px;
  }
  .adstacy {
    border-radius: 3px 0 0 0;
    color: #fff;
    background-color: #b00;
    width: 166px;
  }
  .twitter {
    border-radius: 0 3px 0 0;
    color: #fff;
    background-color: #2daddc;
    border-color: #0271bf;
    width: 166px;
  }
  .facebook {
    color: #fff;
    background-color: #133783;
    border-color: #133783;
    width: 168px;
  }
}
