#who-to-follow {
  width: 500px;
  .toolbar {
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    margin-bottom: 5px;
  }
  .adstacy, .twitter, .facebook {
    display: block;
    float: left;
    margin: 0;
    padding: 12px 10px 10px;
  }
  .adstacy {
    border-right: 1px solid #ddd;
    color: #b00;
    width: 166px;
    &.current {
      background: #b00;
      color: #fff;
    }
  }
  .facebook {
    border-right: 1px solid #ddd;
    color: #133783;
    width: 168px;
    &.current {
      background: #133783;
      color: #fff;
    }
  }
  .twitter {
    color: #0271bf;
    width: 166px;
    &.current {
      background: #0271bf;
      color: #fff;
    }
  }
}
