@import "../variables.less";
@import "../mixins.less";

#who-to-follow {
  .toolbar {
    border-bottom: 1px solid darken(@border-color, 10%);
    .box-shadow(0 1px 3px rgba(0,0,0,.175));

    .btn-default {
      padding: 12px;
      border-width: 0 0 0 1px;
      white-space: normal;

      &:first-child {
        border-left: 0;
        border-radius: @border-radius-base 0 0 0;
      }
      &:last-child {
        border-radius: 0 @border-radius-base 0 0;
      }
    }
  }

  .adstacy {
    color: #b00;
    &.current {
      background: #b00;
      color: #fff;
    }
  }
  .facebook {
    color: #133783;
    &.current {
      background: #133783;
      color: #fff;
    }
  }
  .twitter {
    color: #0271bf;
    &.current {
      background: #0271bf;
      color: #fff;
    }
  }
}
