{% extends 'AdstacyAppBundle::layout.html.twig' %}

{% block content %}
  <div class="adstacy-container">
    <div class="panel panel-default">
      <h3>{{ 'header.success' | trans({'%name%': userInformation.realName}, 'HWIOAuthBundle') }}</h3>
    </div>
  </div>
{% endblock %}
