{% extends 'AdstacyAppBundle::layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets filter='cssrewrite, uglifycss'
    'bundles/adstacyapp/less/layout/error.less'
  %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
  {% endstylesheets %}
{% endblock %}

{% block container %}
  <div id="error-page">
    <h2>Forbidden Access</h2>
    <h3>You shall not pass! Only the chosen one may pass.</h3>
    <div class="links">
      <a class="btn btn-success btn-lg" href="{{ path('homepage') }}">Homepage</a>
      <a class="btn btn-success btn-lg" href="{{ app.request.headers.get('referer') }}">Back to previous page</a>
    </div>
  </div>
{% endblock %}
