{% extends 'AdstacyAppBundle::layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets filter='cssrewrite, uglifycss'
    'bundles/adstacyapp/less/layout/error.less'
  %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
  {% endstylesheets %}
{% endblock %}

{% block content %}
  <div id="error-page">
    <h2>Server Error</h2>
    <h3>There is something wrong with us. If the problem persist please kindly tell us at <a href="mailto:{{ adstacy_mail_support }}">Adstacy</h3>
  </div>
{% endblock %}
