{% extends 'AdstacyAppBundle::layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets filter='cssrewrite, uglifycss'
    'bundles/adstacyapp/less/layout/error.less'
  %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
  {% endstylesheets %}
{% endblock %}

{% block container %}
  <div id="error-page">
    <h2>Page Not Found</h2>
    <h3>The page you are looking for is not here. Are you looking for something else?</h3>
    <div class="links">
      <a class="btn btn-success btn-lg" href="{{ path('homepage') }}">Homepage</a>
      {% if app.request.headers.get('referer') %}
      <a class="btn btn-success btn-lg" href="{{ app.request.headers.get('referer') }}">Back to previous page</a>
      {% endif %}
    </div>
  </div>
{% endblock %}
