{% extends 'AdstacyAppBundle::layout.html.twig' %}

{% block content %}
  <div id="page">
    <h2>{{ page.title }}</h2>
    <div id="page-content">
        {{ page.content }} 
    </div>
  </div>
{% endblock %}
