{% extends 'AdstacyAppBundle::layout.html.twig' %}

{% block content %}
  <div id="page" class="panel panel-info">
    <div class="panel-heading">
      <h2>{{ page.title }}</h2>
    </div>
    <div id="page-content" class="panel-body">
      {{ page.content }}
    </div>
  </div>
{% endblock %}
