{# only add button if logged in and wall and user is not himself #}
{% set loggedInUser = app.user %}
{% if user and loggedInUser and user != loggedInUser %}
  {% set followed = loggedInUser.hasFollowUser(user) %}
  <div class="user-action">
    <button data-username="{{ user.username }}" class="btn btn-follow btn-primary follow-user {% if followed %}hide{% endif %}">Follow</button>
    <button data-username="{{ user.username }}" class="btn btn-follow btn-success unfollow-user {% if not followed %}hide{% endif %}">Following</button>
  </div>
{% endif %}
