{% extends 'AdstacyAppBundle:User:show.html.twig' %}

{% block show_content %}
  <div class="masonry">
    {% for promote in paginator.getCurrentPageResults %}
      {% include 'AdstacyAppBundle:Ad:ad.html.twig' with {ad: promote} %}
    {% endfor %}
  </div>
{% endblock %}
