{% extends 'AdstacyAppBundle:User:show.html.twig' %}

{% block show_content %}
  <div class="clearfix">
    {% for wall in walls %}
      {% include 'AdstacyAppBundle:Wall:mini_wall.html.twig' with {wall: wall} %}
    {% endfor %}
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
    $(function() {
      $('.wall-thumb').ajaxlink('walls');
    });
  </script>
{% endblock %}
