{% extends 'AdstacyAppBundle::layout.html.twig' %}

{% block content %}
  {{ user.username }}
  {{ adsCount }}
  <div>
  {% for wall in walls %}
    {% set _wall = wall[0] %}
    <div>
      <p>{{ _wall.name }}</p>
    </div>
    <div>{{ wall['adsCount'] }}</div>
  {% endfor %}
  </div>
{% endblock %}
