{% extends is_ajax() ? '::ajax.html.twig' : 'AdstacyAppBundle:User:show.html.twig' %}

{% block show_content %}
  <div class="adstacy-container">
    <div class="jscroll">
      {{ block('ajax_content') }}
    </div>
  </div>
{% endblock %}

{% block ajax_content %}
  {% for following in paginator.getCurrentPageResults %}
    {% include 'AdstacyAppBundle:User:user.html.twig' with {user: following} %}
  {% endfor %}
  {% if paginator.hasNextPage %}
    {% set params = {username: user.username, page: paginator.getNextPage} | merge(app.request.query.all) %}
    <a href="{{ path(route, params )}}" class="btn btn-lg btn-default btn-block next-page">More</a>
  {% endif %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
    $(function() {
      $('.user-thumb').ajaxlink('follow_user');
      $('.jscroll').jscroll({
        nextSelector: 'a.next-page',
        callback: function(a, b) {
          var $users = $('.jscroll-added:last .user');
          $masonry = $('.masonry').masonry('appended', $users);
          $users.find('.ad-desc').ajaxlink('follow_user');
        }
      });
    });
  </script>
{% endblock %}
