@font-face {
	font-family: 'adstacy';
	src:url('../font/adstacy.eot?-phk9vu');
	src:url('../font/adstacy.eot?#iefix-phk9vu') format('embedded-opentype'),
		url('../font/adstacy.ttf?-phk9vu') format('truetype'),
		url('../font/adstacy.woff?-phk9vu') format('woff'),
		url('../font/adstacy.svg?-phk9vu#adstacy') format('svg');
	font-weight: normal;
	font-style: normal;
}
.icon {
	font-family: 'adstacy';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-home:before {
	content: "\e000";
}
.icon-rss:before {
	content: "\e001";
}
.icon-rocket:before {
	content: "\e002";
}
.icon-search:before {
	content: "\e003";
}
.icon-plus:before {
	content: "\e004";
}
.icon-user:before {
	content: "\e005";
}
.icon-gear:before {
	content: "\e006";
}
.icon-off:before {
	content: "\e007";
}
.icon-angle-up:before {
	content: "\e008";
}
.icon-angle-down:before {
	content: "\e009";
}
.icon-facebook:before {
	content: "\e00a";
}
.icon-twitter:before {
	content: "\e00b";
}
.icon-share:before {
	content: "\e00c";
}
.icon-envelope-alt:before {
	content: "\e00d";
}
.icon-edit:before {
	content: "\e00e";
}
.icon-delete:before {
	content: "\e00f";
}
.icon-ads:before {
	content: "\e010";
}
.icon-bullhorn:before {
	content: "\e011";
}
.icon-hash:before {
	content: "\e012";
}
.icon-star:before {
	content: "\e013";
}
.icon-ok-sign:before {
	content: "\e014";
}
.icon-bell:before {
	content: "\e015";
}
.icon-globe:before {
	content: "\e016";
}
.icon-tags:before {
	content: "\e017";
}
.icon-align-left:before {
	content: "\e600";
}
.icon-align-center:before {
	content: "\e601";
}
.icon-align-right:before {
	content: "\e602";
}
.icon-align-justify:before {
	content: "\e603";
}
.icon-indent-left:before {
	content: "\e604";
}
.icon-indent-right:before {
	content: "\e605";
}
.icon-bold:before {
	content: "\e606";
}
.icon-italic:before {
	content: "\e607";
}
.icon-underline:before {
	content: "\e608";
}
.icon-strikethrough:before {
	content: "\e609";
}
.icon-list-ul:before {
	content: "\e60a";
}
.icon-list-ol:before {
	content: "\e60b";
}
.icon-save:before {
	content: "\e60c";
}
.icon-copy:before {
	content: "\e60d";
}
.icon-cut:before {
	content: "\e60e";
}
.icon-paste:before {
	content: "\e60f";
}
.icon-paper-clip:before {
	content: "\e610";
}
.icon-unlink:before {
	content: "\e611";
}
.icon-undo:before {
	content: "\e612";
}
.icon-repeat:before {
	content: "\e613";
}
.icon-quote-left:before {
	content: "\e614";
}
.icon-file:before {
	content: "\e615";
}
.icon-font:before {
	content: "\e616";
}
.icon-resize-full:before {
	content: "\e617";
}
.icon-resize-small:before {
	content: "\e618";
}
.icon-th:before {
	content: "\e619";
}
.icon-th-list:before {
	content: "\e61a";
}
.icon-th-large:before {
	content: "\e61b";
}
.icon-text-height:before {
	content: "\e61c";
}
.icon-text-width:before {
	content: "\e61d";
}
.icon-list:before {
	content: "\e61e";
}
.icon-camera:before {
	content: "\e61f";
}
.icon-bubbles:before {
	content: "\e620";
}
.icon-flag:before {
	content: "\e621";
}
