{% extends 'AdstacyAppBundle:Search:search.html.twig' %}

{% block search_content %}
  <div class="masonry jscroll">
    {% include 'AdstacyAppBundle:Search:ads_content.html.twig' with {paginator: paginator} %}
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
    $(function() {
      $('.jscroll').jscroll({
        nextSelector: 'a.next-page',
        callback: function(a, b) {
          var $ads = $('.jscroll-added:last .ad');
          $masonry = $('.masonry').masonry('appended', $ads);
          $ads.find('img.lazy').lazyload();
          $ads.find('.ad-desc').ajaxlink('ads');
        }
      });
    });
  </script>
{% endblock %}
