{% extends is_ajax() ? '::ajax.html.twig' : 'AdstacyAppBundle::layout.html.twig' %}

{% block title %}Search{% endblock %}

{% block content %}
  <div class="search-menu-container adstacy-container panel panel-default">
    <ul class="nav nav-pills">
      <li {% if search == 'ads' %}class="active"{% endif %}><a href="{{ path('adstacy_app_search_ads', {q: app.request.query.get('q')}) }}">Ads</a></li>
      <li {% if search == 'users' %}class="active"{% endif %}><a href="{{ path('adstacy_app_search_users', {q: app.request.query.get('q')}) }}">Users</a></li>
    </ul>
  </div>
  {% block search_content %}{% endblock %}
{% endblock %}
