{% for user in paginator.getCurrentPageResults %}
  {% include 'AdstacyAppBundle:User:user.html.twig' with {user: user} %}
{% endfor %}
{% if paginator.hasNextPage %}
  {% set params = {page: paginator.getNextPage} | merge(app.request.query.all) %}
  <a href="{{ path('adstacy_app_search_users', params )}}" class="btn btn-lg btn-default btn-block next-page">More</a>
{% endif %}
