{% extends 'AdstacyAppBundle::layout.html.twig' %}

{% block content %}
  <div class="masonry-container">
    <h2>{{ wall.name }} ({{ wall.adsCount }} ads) ({{ wall.followersCount }} followers)</h2>
    <h3>{{ parse_hashtag(wall.description) }}</h3>
  </div>
  <div class="masonry">
  {% for ad in wall.ads %}
    {% include 'AdstacyAppBundle:Includes:ad.html.twig' with {ad: ad} %}
  {% endfor %}
  </div>
{% endblock %}
