{% extends is_ajax() ? '::ajax.html.twig' : 'AdstacyAppBundle::layout.html.twig' %}

{% block title %}Explore Latest Ads | Adstacy{% endblock %}

{% block content %}
  <div class="masonry jscroll clearfix">
    {{ block('ajax_content') }}
  </div>
{% endblock %}

{% block ajax_content %}
  {% set id = null %}
  {% for ad in ads %}
    {% set id = ad.id %}
    {% include 'AdstacyAppBundle:Ad:ad.html.twig' with {ad: ad} %}
  {% endfor %}
  {% if ads|length >= max_ads_per_page %}
    <a href="{{ path('homepage', {'id': id})}}" class="btn btn-default btn-block next-page">{{ "more"|trans }}</a>
  {% endif %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
    $(function() {
      $('.jscroll').jscroll({
        nextSelector: 'a.next-page',
        callback: function() {
          var $ads = $('.jscroll-added:last .ad');
          $masonry = $('.masonry').masonry('appended', $ads);
          $ads.find('img.lazy').lazyload();
          $ads.find('.ad-social').ajaxlink('ads');
          $ads.find('[data-toggle="tooltip"]').tooltip();
        }
      });
    });
  </script>
{% endblock %}
