{% extends is_ajax() ? '::ajax.html.twig' : 'AdstacyAppBundle::layout.html.twig' %}

{% block title %}Explore Latest Ads | Adstacy{% endblock %}

{% block content %}
  <div class="site-body jscroll">
    {{ block('ajax_content') }}
  </div>
{% endblock %}

{% block ajax_content %}
  {% set id = null %}
  {% for ad in ads %}
    {% set id = ad.id %}
    {% include 'AdstacyAppBundle:Ad:ad.html.twig' with {ad: ad} %}
  {% endfor %}
  {% if ads|length >= max_ads_per_page %}
    <a href="{{ path('adstacy_app_explore', {'id': id}) }}" class="btn btn-default btn-lg btn-block load-next next-page">{{ "more"|trans }}</a>
  {% endif %}
{% endblock %}

{% block sidebar %}
  <div class="site-sidebar">
    <div class="site-aside">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, quo, ipsam,
        temporibus, nulla voluptate vero numquam porro necessitatibus libero molestias
        natus alias repellat aliquid neque asperiores vitae beatae voluptates nobis
        excepturi aut labore quia fugiat eaque corrupti rem velit deserunt.
      </p>
    </div>
    <div class="site-aside">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, quo, ipsam,
        temporibus, nulla voluptate vero numquam porro necessitatibus libero molestias
        natus alias repellat aliquid neque asperiores vitae beatae voluptates nobis
        excepturi aut labore quia fugiat eaque corrupti rem velit deserunt.
      </p>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
    $(function() {
      $('.jscroll').jscroll({
        callback: function() {
          var $ads = $('.jscroll-added:last .advert');
          $ads.find('img.lazy').lazyload();
          $ads.ajaxlink('ads');
        }
      });
    });
  </script>
{% endblock %}
