{% extends is_ajax() ? '::ajax.html.twig' : 'AdstacyAppBundle::layout.html.twig' %}

{% block title %}Explore Latest Ads | Adstacy{% endblock %}

{% block content %}
  <div class="page-title jumbotron text-center">
    <h1>Explore</h1>
  </div>
  <div class="masonry jscroll clearfix">
    {% include 'AdstacyAppBundle:App:feeds.html.twig' %}
    {{ block('ajax_content') }}
  </div>
{% endblock %}

{% block ajax_content %}
  {% set id = null %}
  {% for ad in ads %}
    {% set id = ad.id %}
    {% include 'AdstacyAppBundle:Ad:ad.html.twig' with {ad: ad} %}
  {% endfor %}
  {% if ads|length >= max_ads_per_page %}
    <a href="{{ path('adstacy_app_explore', {'id': id}) }}" class="btn btn-default btn-block load-next next-page">{{ "more"|trans }}</a>
  {% endif %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
    $(function() {
      $('.jscroll').jscroll({
        callback: function() {
          var $ads = $('.jscroll-added:last .advert');
          $('.masonry').masonry('appended', $ads);
          $ads.find('img.lazy').lazyload();
          $ads.ajaxlink('ads');
        }
      });
    });
  </script>
{% endblock %}
