{% extends is_ajax() ? '::ajax.html.twig' : 'AdstacyAppBundle::layout.html.twig' %}

{% block title %}Explore Latest Ads | Adstacy{% endblock %}

{% block site_body_class %}site-body-no-bg{% endblock %}

{% block content %}
  <div class="adstacy-container jscroll">
    {{ block('ajax_content') }}
  </div>
{% endblock %}

{% block ajax_content %}
  {% set id = null %}
  {% for ad in ads %}
    {% set id = ad.id %}
    {% include 'AdstacyAppBundle:Ad:ad.html.twig' with {ad: ad} %}
  {% endfor %}
  {% if ads|length >= max_ads_per_page %}
    <a href="{{ path('adstacy_app_explore', {'id': id}) }}" class="btn btn-default btn-lg btn-block load-next next-page">{{ "more"|trans }}</a>
  {% endif %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
    $(function() {
      $('.jscroll').jscroll(Adstacy.options.jscrollAd);
    });
  </script>
{% endblock %}
