<ul id="feeds-masonry" class="masonry-item panel panel-default">
  <li><a href="{{ path('adstacy_app_stream') }}" title="Stream"><i class="icon-home"></i> &nbsp; {{"stream"|trans}}</a></li>
  <li><a href="{{ path('adstacy_app_explore') }}" title="Explore"><i class="icon-globe"></i> &nbsp; Explore</a></li>
  <li><a href="{{ path('adstacy_app_trending') }}" title="Trending"><i class="icon-rocket"></i> &nbsp; Trending</a></li>
</ul>
