{% extends 'AdstacyAppBundle::layout.html.twig' %}

{% block content %}
  <div id="posts" class="jscroll clearfix">
    {% include 'AdstacyAppBundle:Includes:posts.html.twig' with {posts: posts} %}
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
    $(function() {
      $('.jscroll').jscroll({
        nextSelector: 'a.next-page',
        callback: function(a, b) {
          var $posts = $('.jscroll-added:last .post');
          $masonry = $('#posts').masonry('appended', $posts);
          $posts.find('img.lazy').lazyload();
        }
      });
    });
  </script>
{% endblock %}
