{% extends 'AdstacyAppBundle::layout.html.twig' %}

{% block content %}
  <div class="masonry jscroll">
    {% include 'AdstacyAppBundle:Includes:ads_search.html.twig' with {paginator: paginator} %}
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
    $(function() {
      $('.jscroll').jscroll({
        nextSelector: 'a.next-page',
        callback: function(a, b) {
          var $ads = $('.jscroll-added:last .ad');
          $masonry = $('#ads').masonry('appended', $ads);
          $ads.find('img.lazy').lazyload();
        }
      });
    });
  </script>
{% endblock %}
