{% extends is_ajax() ? '::ajax.html.twig' : 'AdstacyAppBundle::layout.html.twig' %}

{% block content %}
  <div class="masonry jscroll clearfix">
    {{ block('ajax_content') }}
  </div>
{% endblock %}

{% block ajax_content %}
  {% for ad in paginator.getCurrentPageResults %}
    {% include 'AdstacyAppBundle:Ad:ad.html.twig' with {ad: ad, promotedBy: true} %}
  {% endfor %}
  {% if paginator.hasNextPage %}
    {% set params = app.request.query.all|merge({page: paginator.getNextPage}) %}
    <a href="{{ path('adstacy_app_stream', params )}}" class="btn btn-lg btn-default btn-block next-page">{{"more"|trans}}</a>
  {% endif %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
    $(function() {
      $('.jscroll').jscroll({
        nextSelector: 'a.next-page',
        callback: function() {
          var $ads = $('.jscroll-added:last .ad');
          $masonry = $('.masonry').masonry('appended', $ads);
          $ads.find('img.lazy').lazyload();
          $ads.find('.ad-social').ajaxlink('ads');
        }
      });
    });
  </script>
{% endblock %}
