{% extends is_ajax() ? '::ajax.html.twig' : 'AdstacyAppBundle::layout.html.twig' %}

{% block title %}Trending ads | Adstacy{% endblock %}

{% block content %}
    <div class="page-title jumbotron text-center">
      <h1>Trending</h1>
    </div>
  <div class="masonry clearfix">
    {% include 'AdstacyAppBundle:App:feeds.html.twig' %}
    {{ block('ajax_content') }}
  </div>
{% endblock %}

{% block ajax_content %}
  {% for ad in ads %}
    {% include 'AdstacyAppBundle:Ad:ad.html.twig' with {ad: ad} %}
  {% endfor %}
{% endblock %}
