{% extends '::base.html.twig' %}

{% block single %}single{% endblock %}

{% block inner_container %}
  <div class="adstacy-single-col">
    {% block content %}{% endblock %}
  </div>
{% endblock %}

{% block youtube_javascript %}{% endblock %}
