parameters:
    database_driver:   pdo_pgsql
    database_host:     localhost
    database_port:     null
    database_name:     adstacy
    database_user:     adstacy
    database_password: adstacy

    mailer_transport:  smtp
    mailer_host:       localhost
    mailer_port:       25
    mailer_encryption: null
    mailer_auth_mode: null
    mailer_user:       ~
    mailer_password:   ~

    node_path:         "/usr/local/bin/node"
    node_modules_path: "/usr/local/lib/node_modules"

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt
