.form-container, .dropdown-container {
  .form-control {
    margin: 10px auto;
  }
  .btn-block + .btn-block {
    margin-top: 10px;
  }
}

.dropdown-container .btn {
  padding-top: 5px;
  padding-bottom: 5px;
}
