div.table-block {
  display: table;
  width: 100%;

  div {
    display: table-cell;
    vertical-align: middle;
  }
}

div.inline-block {
  font-size: 0;

  div {
    font-size: initial;
    display: inline-block;
    vertical-align: middle;
  }
}

.span1of2 {
  width: 50%;
}

.span1of3 {
  width: 33.34%;
}

.span2of3 {
  width: 66.66%;
}
