.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btn-icon {
  background-color: transparent;
  border: none;
  padding: 0;
}

a.link-muted {
  color: @text-muted;

  &:hover {
    color: darken(@text-muted, 15%);
  }
}

span.required {
  color: red;
}

.hyphens {
  .hyphens();
}

.spinner-margin {
  margin-top: 20px;
  margin-bottom: 20px;
}

.help {
  font-size: 12px;
  color: #999;
}

.no-border {
  border: 0 !important;
}

.big-center-text {
  text-align: center;
  font-size: 30px;
}
