@body-bg: #333;
@brand-primary: #78a300;
@navbar-default-bg: #fff;
@border-color: #ccc;
@input-border-focus: #bbb;
@navbar-default-brand-color: @brand-primary;
@navbar-default-brand-hover-color: darken(@navbar-default-brand-color, 10%);
