{% extends 'AdstacyAppBundle::layout.html.twig' %}

{% block content %}
  <div class="form-container panel panel-default" style="padding: 20px;">
    <h1>Register</h1>
    {{ form(form) }}
  </div>
{% endblock %}
