<!DOCTYPE html>
<html>
<head>
  {% stylesheets output='assetic/css/compiled/fmelfinder/main.css'
  'bundles/fmelfinder/css/*' filter='cssrewrite,uglifycss' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" type="text/javascript"></script>
  {% javascripts output='bundles/fmelfinder/js/main.js' filter='uglifyjs2'
    '@FMElfinderBundle/Resources/public/js/elfinder.min.js'
  %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
</head>
<body>
<script type="text/javascript" charset="utf-8">

    var FileBrowserDialogue = {
        init: function () {
            // Here goes your code for setting your custom things onLoad.
        },
        mySubmit: function (URL) {
            // pass selected file path to TinyMCE
            top.tinymce.activeEditor.windowManager.getParams().setUrl(URL);

            // close popup window
            top.tinymce.activeEditor.windowManager.close();
        }
    }

    $(document).ready(function() {
        var elf = $('#elfinder').elfinder({
            // set your elFinder options here
            url: '{{ path('ef_connect') }}',  // connector URL
            lang : '{{ locale }}',
            getFileCallback: function(file) { // editor callback
                FileBrowserDialogue.mySubmit(file.url); // pass selected file path to TinyMCE
            },
            uiOptions: {
              toolbar: [
                ['back', 'forward'],
                // ['reload'],
                // ['home', 'up'],
                ['mkdir', 'upload'],
                ['open', 'download']
                ['search'],
              ]
            }
        }).elfinder('instance');
    });
</script>
<div id="elfinder"></div>
</body>
</html>
