<div class="post">
  <img src="{{ vich_uploader_asset(post.image, 'file') | imagine_filter('thumbnail') }}" />
  <p>{{ parse_hashtag(post.description) }}</p>
  <div>
    {{ post.promoteesCount }} promotes
  </div>
</div>
