{% extends 'AdstacyAppBundle::layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
{{ form_start(form) }}
  {{ form_rest(form) }}
  <a href="{{ path('fos_user_change_password') }}">change password</a>
{{ form_end(form) }}
{% endblock %}
