@import '../variables.less';

.image-preview {
  &.small img {
    max-height: 200px;
  }
}

.image-upload-trigger {
  cursor: pointer;
}

@media screen and (max-width: @screen-phone) {
  .image-preview {
    width: 100%;
    img {
      max-width: 100%;
    }
  }
}
