@import '../variables.less';

.image-upload-box {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.image-upload {
  display: block;
  position: absolute;
  top: 0;
  left: -9999px;
}

.image-preview {
  &.small img {
    max-height: 200px;
  }
  &.medium {
    text-align: center;
  }
  &.medium img {
    max-width: 100%;
  }
}

.image-upload-trigger {
  cursor: pointer !important;
}

@media screen and (max-width: @screen-phone) {
  .image-preview {
    width: 100%;
    img {
      max-width: 100%;
    }
  }
}
