{% extends 'AdsAppBundle::layout.html.twig' %}

{% block content %}
  <div class="posts">
    {% for post in posts %}
      {% include 'AdsAppBundle:Includes:post.html.twig' with {post: post} %}
    {% endfor %}
  </div>
{% endblock %}
