{% extends 'AdsAppBundle::layout.html.twig' %}

{% block content %}
  <div class="posts">
    {% for post in posts %}
      <div class="post">
        <img src="{{ vich_uploader_asset(post.image, 'file') | imagine_filter('thumbnail') }}" />
        {{ parse_hashtag(post.description) }}
      </div>
    {% endfor %}
  </div>
{% endblock %}
