.form-container {
  margin: auto;
  width: 500px;

  // override
  hr {
    margin: 0;
  }

  // override
  .btn-block + .btn-block {
    margin-top: 15px;
  }
}

.dropdown-container {
  width: 250px;
  padding: 15px;

  // override
  .form-group {
    margin-bottom: 10px;
  }

  // override
  .checkbox {
    margin-top: 6px;
    margin-bottom: 6px;
  }

  // override
  p {
    margin: 0;
  }

  // override
  .btn-block + .btn-block {
    margin-top: 10px;
  }
}
