.main-container {
  width: 1000px;
  margin: auto;
}

.main-section {
  padding: 10px 0;
  color: #333;
  background-color: #fff;

  h1 {
    font-size: 50px;
    color: #b00;
  }

  .lead {
    font-size: 20px;
    color: @gray;
  }

  .main-pic {
    width: 350px;
    text-align: center;
    float: left;

    img {
      width: 250px;
      height: 250px;
    }
  }

  .main-content {
    width: 650px;
    padding: 0 25px;
    float: left;
  }

  &:nth-of-type(odd) {
    .main-pic, .main-content {
      float: right;
    }
    .main-content {
      text-align: right;
    }
  }
}

.red {
  background-color: #dc004d;
  // background-color: #e40363;
}

.green {
  background-color: #65aa23;
}

.blue {
  background-color: #0098b9;
}

.yellow {
  // background-color: #f7c300;
  background-color: #f39402;
}

.purple {
  // background-color: #a002b9;
  background-color: #63459f;
}

.jumbotron {

  h1 {
    color: #fff;
    margin-top: -20px;
    font-weight: bold;
    font-size: 80px;
  }

  .panel {
    .form-group {
      margin-bottom: 5px;
    }
  }
}
