.main-container {
  width: 1000px;
  margin: auto;
}

.main-section {
  padding: 50px 0;
  color: #fff;

  h1 {
    font-size: 40px;
  }

  .lead {
    font-size: 18px;
  }

  .main-pic {
    width: 350px;
    text-align: center;
    float: left;
  }

  .main-content {
    width: 650px;
    padding: 0 25px;
    float: left;
  }

  &:nth-of-type(odd) {
    .main-pic, .main-content {
      float: right;
    }
    .main-content {
      text-align: right;
    }
  }
}

.red {
  background-color: #dc004d;
  // background-color: #e40363;
}

.green {
  background-color: #65aa23;
}

.blue {
  background-color: #0098b9;
}

.yellow {
  // background-color: #f7c300;
  background-color: #f39402;
}

.purple {
  // background-color: #a002b9;
  background-color: #63459f;
}

.jumbotron {
  color: #333;
}
