body {
  padding-top: 70px;
}

.masonry {
  margin: 0 auto 14px auto;
}

.masonry-container {
  margin: auto;
}

.ad {
  width: 236px;
  margin: 14px 7px 0 7px;
  background-color: white;
  border: 1px solid @border-color;
}

.pic {
  background-image: url('../img/diagonal-line.png');

  img {
    background: url('../img/loading.gif') no-repeat center center;
  }
}

.desc {
  border-top: 1px solid @border-color;
  padding: 7px 14px;
}

#search {
  padding-right: 40px;
  &:focus + button span {
    color: darken(@input-color-placeholder, 20%);
  }
}

.search-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  position: absolute;
  top: 10px;
  right: 20px;
  height: 34px;

  @media (min-width: @grid-float-breakpoint) {
    top: 0;
  }

  span {
    color: @input-color-placeholder;
    font-size: 25px;
  }

  &:hover span, &:active span {
    color: darken(@input-color-placeholder, 50%);
  }
}

// -------------------------------------------

.form-container, .dropdown-container {
  .form-control {
    margin: 10px auto;
  }
}

.form-container {
  margin: 0 auto;
  width: 400px;

  h1 {
    text-align: center;
  }

  div {
    padding: 20px;
    border-bottom: 1px solid @border-color;

    &:last-child {
      border-bottom: 0;
    }
  }
}

.dropdown-container {
  width: 200px;

  .social-login > a {
    color: white;
  }

  .form-footer {
    display: inline;

    a {
      color: @brand-primary;
      &:hover {
        text-decoration: underline;
        background-color: white;
        color: black;
        // color: @brand-primary;
      }
    }
  }

  > li {
    padding: 10px;
  }
}

.btn-block + .btn-block {
  margin-top: 10px;
}

// -------------------------------
.nav-expand-wrapper {
  position: relative;
}

.nav-expand-wrapper.scroll-to-fixed-fixed {
  // kinda hack
  width: 100% !important ;
}

.nav-expand-inner {
  position: absolute;
  padding: 20px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #000;
  z-index: 1000;
}

ul.nav-expand {
  list-style-type: none;
  margin: auto;
  padding: 0;
  line-height: 1.5;
  overflow: hidden;
  max-height: 9em;

  li {
    margin: 0 7px;
    width: 236px;
    float: left;
  }
}

#nav-expand-container {
  padding: 10px 0;
  border-top: 1px solid @border-color;
}

.image-preview {
  &.medium img {
    max-height: 500px;
  }
  &.small img {
    max-height: 200px;
  }
}
