body {
  color: @gray-dark;
  background: @body-bg url("../img/noise.png");
}

a {
  cursor: pointer;
}

a.url, a.mention {
  color: #428bca;

  &:hover {
    color: darken(#428bca, 20%);
  }
}

a.mention:hover {
  text-decoration: none;
}

// hack to support windows phone 8 and IE 10 for media queries
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

.btn-follow + .btn-block {
  margin-top: 0;
}

.load-next {
  position: relative;
  bottom: -30px;
  border-bottom: 0;
  .border-bottom-radius(0);
  line-height: 23px;

  img {
    vertical-align: bottom;
  }
}

.advert-action .btn-success:hover,
.user-action .btn-success:hover {
  background-color: #333;
  border-color: #333;
}

.dropdown-menu {
  padding: 0;

  > li {
    margin-bottom: 0;
  }

  > li > a {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  li:first-child a {
    border-top-width: 0;
    .border-top-radius(@border-radius-small);
  }

  li:last-child a {
    .border-bottom-radius(@border-radius-small);
  }
}

.typeahead.dropdown-menu {
  min-width: 234px;
}

.item {
  margin: 0 auto;
  width: 100%;
}

// .loader-img {
//   width: 32px;
//   height: 32px;
//   margin: 0 auto 20px;
//   background-image: url(@loader-img);
// }

@media (min-width: 481px) {
  .item {
    width: 450px;
  }
}

@media (min-width: 600px) {
  .item {
    width: 100%;
  }
}

@media (min-width: 720px) {
  .item {
    width: 450px;
  }
}

@media (max-width: 480px) {
  #toTop {
    display: none !important;
  }

  .typeahead.dropdown-menu {
    min-width: 100%;
  }
}
