<div class="page-title jumbotron text-center">
  <h1>Notifications</h1>
</div>
<ul id="all-notifications" class="list-group notifications">
  {% if notifications|length > 0 %}
    {% for notification in notifications %}
      <li class="list-group-item clearfix">
        {{ notification|raw }}
      </li>
    {% endfor %}
  {% else %}
    <li class="no-new-notifications">{{ 'notification.no_notification'|trans }}</li>
  {% endif %}
</ul>
