{% if notifications|length > 0 %}
  {% for notification in notifications %}
    <li class="clearfix">
      {% include 'AdstacyNotificationBundle::notification.html.twig' with {notification: notification} %}
    </li>
  {% endfor %}
{% else %}
  <li class="no-new-notifications">{{ 'notif.not_found'|trans }}</li>
{% endif %}
