{% if notifications|length > 0 %}
  {% for notification in notifications %}
    <li class="list-group-item clearfix">
      <img src="{{ profile_pic(notification.user) }}" class="notif-pic" />
      {{ notification.content|raw }}
      <time>{{ ago(notification.created) }}</time>
    </li>
  {% endfor %}
{% else %}
  <li class="no-new-notifications">No New Notifications</li>
{% endif %}
