{% if notifications|length > 0 %}
  {% for notification in notifications %}
    <li class="clearfix">
      {{ notification|raw }}
    </li>
  {% endfor %}
{% else %}
  <li class="no-new-notifications">{{ 'notif.not_found'|trans }}</li>
{% endif %}
