<ul id="top-notifications" class="dropdown-menu notifications">
  {% include 'AdstacyNotificationBundle::notifications.html.twig' with {notifications: notifications} %}
  <li id="show-all-notifications" class="list-group-item"><a href="{{ path('adstacy_notification_show') }}">{{ 'notif.show_all'|trans }}</a></li>
</ul>
