<ul id="top-notifications" class="pull-right dropdown-menu notifications">
  {% if notifications|length > 0 %}
    {% for notification in notifications %}
      <li>
        {% include 'AdstacyNotificationBundle::notification.html.twig' with {notification: notification} %}
      </li>
    {% endfor %}
  {% else %}
    <li class="no-new-notifications">{{ 'notification.no_notification'|trans }}</li>
  {% endif %}
  <li id="show-all-notifications">
    <a href="{{ path('adstacy_notification_show') }}">{{ 'notification.show_all'|trans }}</a>
  </li>
</ul>
