{% extends 'AdstacyAppBundle::layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets filter='cssrewrite, uglifycss'
    'bundles/adstacyapp/less/layout/reset.less'
  %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
  {% endstylesheets %}
{% endblock %}

{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
  <div class="jumbotron text-center">
    <p class="lead">{{ 'resetting.check_email'|trans({'%email%': email}) }}</p>
  </div>
{% endblock %}
