{% extends '::base_single_column.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}
{#
{% block stylesheets %}
  {{ parent() }}
  {% stylesheets filter='cssrewrite, uglifycss'
    'bundles/adstacyapp/less/layout/form-panel.less'
  %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
  {% endstylesheets %}
{% endblock %}
#}
{% block content %}
  <div class="jumbotron text-center column">
    <p class="lead">{{ 'resetting.password_already_requested'|trans }}</p>
  </div>
{% endblock %}
